<br>
<div class="desktop-half-container centred-container mobile-nine-tenths-container">We are experts in:</div>
<br>
<div class="mobile-half-container desktop-half-container centred-container">
        <app-carousel-highlights [carouselName]="'homePage'" [carouselTitle]="'We are experts in:'"></app-carousel-highlights>
</div>

<br><br>
<div class="line-break centred-container desktop-two-third-container mobile-nine-tenths-container"></div>
<br><br>

<div class="mobile-half-container desktop-half-container centred-container">
                <app-focused-highlights [carouselName]="'homePage'"></app-focused-highlights>
</div>

<br><br>
<div class="line-break centred-container desktop-two-third-container mobile-nine-tenths-container"></div>
<br><br>

