 .defaultLayout.sideNav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: var(--fg-col);
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
}


.defaultLayout.sideNav h2,
.defaultLayout.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--bg-col);
  display: block;
  transition: 0.3s;
}

.defaultLayout.sideNav a:hover {
  color: var(--hover-col);
}

.defaultLayout.sideNav .closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.defaultLayout.main {
  transition: margin-left .5s;
  margin-left: 0;
  padding: 20px;
}

.defaultLayout.sideNav.openNav {
  width: 250px
}

.defaultLayout.main.openNav {
  margin-left: 250px;
}

@media screen and (max-height: 450px) {
  .defaultLayout.sideNav {padding-top: 15px;}
  .defaultLayout.sideNav a {font-size: 18px;}
} 

div#content {
  margin-left: auto;
  margin-right: auto;
}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  {
  div#content { max-width: 320px }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  {
  div#content { max-width: 481px }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  {
  div#content { max-width: 481px }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px)  {
  div#content { max-width: 481px }
}

/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) {
  div#content { max-width: 481px }
}

/* hi-res laptops and desktops */ 
@media (min-width:1281px) {
  div#content { max-width: 961px }
}