<br>
<div class="mobile-two-third-container desktop-third-container centred-container">
        Hapax Legomenon - A word that only occurs once within a body text.
        We specialise in building the hapax legomena of software, taking your
        unique ideas, and turning them into
</div>
<br>
<br>
<br>
<div class="desktop-half-container centred-container mobile-nine-tenths-container">We are experts in:</div>
<br>
<div class="mobile-half-container desktop-half-container centred-container">
        <app-carousel-highlights [carouselName]="'homePage'" [carouselTitle]="'We are experts in:'"></app-carousel-highlights>
</div>
