<br>
<div class="mobile-nine-tenths-container desktop-third-container centred-container description">
        Hapax Legomenon - A word that only occurs once within a body text.
        We specialise in building the hapax legomena of software. We do this
        by turning your unique ideas into bespoke solutions.
</div>
<br>
<div class="line-break centred-container desktop-two-third-container mobile-nine-tenths-container"></div>
<br>
<div class="desktop-half-container centred-container mobile-nine-tenths-container">We are experts in:</div>
<br>
<div class="mobile-half-container desktop-half-container centred-container">
        <app-carousel-highlights [carouselName]="'homePage'" [carouselTitle]="'We are experts in:'"></app-carousel-highlights>
</div>
