nav {
  display: flex;
}

nav div {
  margin: 1em;
}

nav div a {
  text-emphasis: none;
  font-size: 1.5em;
}

nav div a:visited {
  color: inherit;
}

nav button.menu {
  background: none;
}

nav div button.menu:hover div {
  background-color: #333;
}