nav {
  display: flex;
}

nav div {
  margin: 1em;
}

nav div a {
  text-emphasis: none;
  font-size: 1.5em;
  color: var(--fg-col);
  transition: 0.5s;
}

nav div a:visited {
  color: inherit;
}

nav button.menu {
  background: none;
}
nav div a:hover {
  color: var(--hover-col);
};

nav div button.menu:hover div {
  background-color: var(--hover-col);
}