nav {
    border-radius: 0.5em;
    background: var(--background-lighter-colour);
    padding: 0em 2em;
    margin: 0.3em 0;
    display: flex;
}

h1 {
    margin-right: auto;
    color: var(--foreground-colour);
}

nav a {
    padding: 1em;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: var(--foreground-colour);
}
