div.burgerIconSlice {
  width: 30px;
  height: 5px;
  background-color: var(--fg-col);
  margin: 3px 0;
  border-radius: 50px;
  transition: 0.3s;
}

div.burgerIcon {
  margin: 0;
  padding: 0;
}

div.burgerIcon:hover div.burgerIconSlice {
  background-color: var(--hover-col);
}