.footer {
    width: 100%;
    padding: 10px;
}

.footer-container {
    display: flex;
}

.copyright {font-size: 0.75em;}
@media screen and (min-width: 801px){
    .copyright {font-size: 0.75em;}
}
@media screen and (max-width: 800px){
    .copyright {font-size: 0.66em;}
}