/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');
html, body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

div.header-bar {
    width: 100%;
    text-align: center;
    padding: 0.1px 0px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 200;
}

h2 {
    font-size: 1em;
    font-weight: 200;
}

div.nav-bar {
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav-bar-item {
    padding: 5px;
    margin: 0px 5px;
}

.nav-button {
    background-color: #ffffff;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #222222;
    color: #222222;
    padding: 10px 0px;
    min-width: 110px;
    max-width: 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 200;
    font-size: 0.9em;
    text-align: center;
    margin: 0px 2.5px;
}

.nav-button:hover {
    background-color: #eeeeee;
}

.nav-button:focus {
    background-color: #eeeeee;
    outline: none;
}

.full-container {width: 100%;}
@media screen and (min-width: 801px){
    .desktop-full-container {width: 100% !important;}
}
@media screen and (max-width: 800px){
    .mobile-full-container {width: 100% !important;}
}

.half-container {width: 50%;}
@media screen and (min-width: 801px){
    .desktop-half-container {width: 50% !important;}
}
@media screen and (max-width: 800px){
    .mobile-half-container {width: 50% !important;}
}

.quarter-container {width: 25%;}
@media screen and (min-width: 801px){
    .desktop-quarter-container {width: 25% !important;}
}
@media screen and (max-width: 800px){
    .mobile-quarter-container {width: 25% !important;}
}

.third-container {width: 33%;}
@media screen and (min-width: 801px){
    .desktop-third-container {width: 33% !important;}
}
@media screen and (max-width: 800px){
    .mobile-third-container {width: 33% !important;}
}

.two-third-container {width: 66%;}
@media screen and (min-width: 801px){
    .desktop-two-third-container {width: 66% !important;}
}
@media screen and (max-width: 800px){
    .mobile-two-third-container {width: 66% !important;}
}

.three-quarter-container {width: 74%;}
@media screen and (min-width: 801px){
    .desktop-three-quarter-container {width: 75% !important;}
}
@media screen and (max-width: 800px){
    .mobile-three-quarter-container {width: 75% !important;}
}

.nine-tenths-container {width: 90%;}
@media screen and (min-width: 801px){
    .desktop-nine-tenths-container {width: 90% !important;}
}
@media screen and (max-width: 800px){
    .mobile-nine-tenths-container {width: 90% !important;}
}

.centred-container {
    margin: 0px auto;
}

.description {
    letter-spacing: 0.75px;
    line-height: 25px;
    text-align: justify;
}

.line-break {
    border-bottom: 1px solid #222222;
}