
<div class="carousel">
    <button (click)="displayPreviousHighlight()"><</button>
    <div class="secondary-highlight" *ngFor="let highlight of leftHighlights">
      <img src={{highlight.imgSrc}} alt={{highlight.altText}} title={{highlight.tooltipText}}>
      <div>{{highlight.titleText}}</div>
    </div>
  
    <div class="primary-highlight">
        <img src={{selectedHighlight.imgSrc}} alt={{selectedHighlight.altText}} title={{selectedHighlight.tooltipText}}>
        <div>{{selectedHighlight.titleText}}</div>
    </div>
  
    <div class="secondary-highlight" *ngFor="let highlight of rightHighlights">
      <img src={{highlight.imgSrc}} alt={{highlight.altText}} title={{highlight.tooltipText}}>
      <div>{{highlight.titleText}}</div>
    </div>
    <button (click)="displayNextHighlight()">></button>
  </div>