<div class="carousel">
    <button (click)="displayPreviousHighlight()"><</button>
  <div class="secondary-highlight">
    <img src={{leftSecondaryHighlight.imgSrc}} alt={{leftSecondaryHighlight.altText}} title={{leftSecondaryHighlight.tooltipText}}>
    <div>{{leftSecondaryHighlight.titleText}}</div>
    </div>
  <div class="primary-highlight">
      <img src={{primaryHighlight.imgSrc}} alt={{primaryHighlight.altText}} title={{primaryHighlight.tooltipText}}>
      <div>{{primaryHighlight.titleText}}</div>
  </div>
  <div class="secondary-highlight">
      <img src={{rightSecondaryHighlight.imgSrc}} alt={{rightSecondaryHighlight.altText}} title={{rightSecondaryHighlight.tooltipText}}>
      <div>{{rightSecondaryHighlight.titleText}}</div>
    </div>
  <button (click)="displayNextHighlight()">></button>
</div>