.carousel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-highlight {
    flex: wrap;
    justify-content: center;
    img {
        width: 200px;
    }
    div {
        text-align: center;
        width: 200px;
        overflow-wrap: normal;
    }
}
.secondary-highlight {
    width: 50%;
    min-width: 0px;
    max-width: 100px;

    img {
        width: 100%;
        opacity: 0.5;
    }
    div {
        text-align: center;
        min-width: 0px;
        max-width: 100px;
        overflow-wrap: normal;
    }

    @media screen and (min-width: 1201px) {
        font-size: 0.5em;
    }
    @media screen and (max-width: 1200px){
        font-size: 0px;
    }
}

button {
    background-color: #ffffff;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #222222;
    color: #222222;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 200;
    font-size: 0.9em;
    text-align: center;
    margin: 0px 2.5px;
}

button:hover {
    background-color: #eeeeee;
}

button:focus {
    background-color: #eeeeee;
    outline: none;
}