#post-content p,
#post-content pre,
#post-content ul,
#post-content ol,
#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6 {
  margin-bottom: 1em;
}

#post-content p {
  font-size: 1.3em;
}

#post-content li {
  margin-bottom: 0.5em;
  list-style-type: disc;
}

#post-content pre {
  border-radius: 0em 1em 1em 0em;
  width: 100%;
  background-color: var(--fg-col) !important;
}

#post-content .codeLineNumbers li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: var(--bg-col);
}

#post-content li {
  margin-left: 1em;
}

#post-content ul.codeLineNumbers {
  padding: 0.5em;
  border-radius:  0.5em 0em 0em 0.5em;
  background-color: var(--fg-col);
  line-height: 1.5em;  
  text-align: end;
  font-size: 1em;
  font-family: monospace;
}

#post-content div.codeContainer {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  line-height: 1.5em;
}