.ask-us-search {
    display: flex;
}

.search-button {
    background-color: #ffffff;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #222222;
    color: #222222;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 200;
    font-size: 0.9em;
    text-align: center;
}

.search-button:hover {background-color: #eeeeee;}
.search-button:focus {
    background-color: #eeeeee;
    outline: none;
}